<p>Робота виконується в рамках дисертаційного дослідження <a href="https://orcid.org/0009-0003-6911-5463">Титова Павла Олеговича</a> за темою «Моделі та методи інформаційної технології оцінки доступності веб-ресурсів для осіб із особливостями зору»</p>

<h2>Публікації</h2>

<ol>
  <li><a href="https://drive.google.com/file/d/1YDGNhbgZY6dfsqwN6P0BcEpcq6CuCKmj/view">Титов П.О. Моделі та методи інформаційної технології оцінки доступності веб-ресурсів для осіб із особливостями зору // Матеріали та програма міжнародної науково-технічної конференції студентів та молодих вчених «Інформатика, математика, автоматика» (ІМА – 2023), (Суми, 27–28 квітня 2023 р.). – Суми: Вид-во СумДУ, 2023. – C. 141-142.</a></li>
  <li>(очікується) Титов П.О., Кузіков Б.О. Формування навчальної вибірки інформаційної системи оцінки відповідності сайтів вимогам веб-доступності // Матеріали та програма міжнародної науково-технічної конференції студентів та молодих вчених «Інформатика, математика, автоматика» (ІМА – 2024), (Суми, 22–26 квітня 2024 р.). – Суми: Вид-во СумДУ, 2024.</li>
  <li><a href="https://drive.google.com/file/d/1xK4BZjCaPlusM69gYdDRvPoIbmaO1ZD6/view?usp=sharing">(очікується) Титов П.О., Кузіков Б.О. ІНФОРМАЦІЙНА ТЕХНОЛОГІЯ ОЦІНКИ ДОСТУПНОСТІ ВЕБ-РЕСУРСІВ ДЛЯ ОСІБ ІЗ ОСОБЛИВОСТЯМИ ЗОРУ // МІЖНАРОДНА НАУКОВО-ПРАКТИЧНА КОНФЕРЕНЦІЯ «ІНФОРМАЦІЙНІ ТЕХНОЛОГІЇ В КУЛЬТУРІ, МИСТЕЦТВІ, ОСВІТІ, НАУЦІ, ЕКОНОМІЦІ ТА БІЗНЕСІ» (Київ, 25-26 квітня 2024 р.).- Київ</a></li>
  <li><a href="https://drive.google.com/open?id=1xGCyXAoSnjXGmBr_tOTComO0COy8Nrde&usp=drive_fs">(очікується) Кузіков Б.О., Титов П.О., Москалець Т.О. ІНФОРМАЦІЙНА СИСТЕМА ПОПУЛЯРИЗАЦІЇ ВЕБ-ДОСТУПНОСТІ //  V МІЖНАРОДНА НАУКОВО-ПРАКТИЧНА КОНФЕРЕНЦІЯ 
МОЛОДИХ ВЧЕНИХ, АСПІРАНТІВ І СТУДЕНТІВ  «СУЧАСНІ ІНФОРМАЦІЙНІ ТЕХНОЛОГІЇ ТА СИСТЕМИ В УПРАВЛІННІ» (Київ, 18 – 19 квітня 2024 р.), Київ - </a></li>
  <li>(очікується) Титов П.О., Шовкопляс О.А., Кузіков Б.О. АНАЛІЗ ВЕБДОСТУПНОСТІ САЙТІВ УКРАЇНСЬКИХ ЗАКЛАДІВ ВИЩОЇ ОСВІТИ //</li>
  <li><a href="https://www.kaggle.com/datasets/tytovpavel/aria-elements">Датасет зображень aria-елементів із сайтів ЗВО</a></li>
  <li><a href="https://ontu.edu.ua/download/konfi/2024/Program-Information-Technology-and-Automation-Program-2024.pdf">Титов П.О. ВИКОРИСТАННЯ МУЛЬТИАГЕНТНОГО ПІДХОДУ ДЛЯ ОЦІНКИ ЯКОСТІ ОСВІТНЬОГО КОНТЕНТУ : ІНФОРМАЦІЙНІ ТЕХНОЛОГІЇ І АВТОМАТИЗАЦІЯ – 2024, 2024 Одеса 412 с.</a></li>
</ol>

<h2>Корисні посилання</h2>
<ol>
  <li><a href="https://doi.org/10.31516/2410-5333.056.08">О. Ю. Мар’їна, С. О. Мар’їн, “Версії WCAG та доступність бібліотечного вебконтенту”, Вісник Харківської державної академії культури, № 56, С. 86–95, 2019, doi: 10.31516/24105333.056.08</a></li>
  <li><a href="https://doi.org/10.26642/ten-2023-1(91)-172-177 ">Р.С. Савіцький, “Безбарʼєрність вебпорталів освітніх навчальних закладів України”, Технічна інженерія, № 1(91), С. 172–177, 2023, doi: 10.26642/ten-2023-1(91)-172-177</a></li>
  <li><a href="https://osvita.diia.gov.ua/courses/vebdostupnist">Дія.Освіта Вебдоступність  // URL: https://osvita.diia.gov.ua/courses/vebdostupnist</a></li>
  <li><a href="https://essuir.sumdu.edu.ua/handle/123456789/97540">Зулюков І. Ю., “Інтелектуальна технологія оцінки доступності офісних документів”</a></li>
  <li><a href="https://essuir.sumdu.edu.ua/handle/123456789/97745">Алексенко А. С., “Інформаційна технологія створення інтерактивних інтелектуальних асистентів навчального призначення”</a></li>
  <li>(очікується) Кузьменко С. С., “Інформаційна система багатоагентного збору даних щодо змісту навчальних дисциплін”</li>
  <li>(очікується) Червяков М. О., “Інформаційна система аудіо-візуальної підтримки процесу навчання осіб з особливими освітніми потребами”</li>
  <li><a href="http://essuir.sumdu.edu.ua:8080/handle/123456789/96578">Москалець Т. О., “Інформаційна система популяризації веб-інклюзивності”</a></li>
  <li>(очікується) Денисенко Д. І., “Інформаційна технологія покращення доступності вебсторінок на основі штучного інтелекту”</li>
  <li>(очікується) Світайло Д. С.,  “Інформаційна система прослуховування аудіокниг для людей з вадами зору.”</li>
</ol>