<p>Ця сторінка міститиме приклади веб-сторінок, що некоректно оцінюються автоматичними аналізаторами</p>
<ul>
  <li>Приклад: при наявності елемента no-script Wave оцінює тільки його, ігноруючи контент сторінки. Формально, це коректно. Але порушує дух WCAG.</li>
</ul>